{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
<!--start-header-->
<!--<div class="header" id="home">
    <div class="container">
        <div class="head">
            <div class="logo">
                <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/></a>
            </div>
            <div class="navigation">
                <span class="menu "></span>
                <ul class="navig">
                    <li><a href="#" class="hvr-bounce-to-bottom">About</a></li>
                    <li><a href="#" class="hvr-bounce-to-bottom">Contact</a></li>
                    <li><a href="#0" class="cd-signin hvr-bounce-to-bottom">Login</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>-->

<header role="banner">
    <div class="logo">
        <a href="#" style="padding-left: 100px"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/></a>
    </div>

    <nav class="main-nav">
        <ul>
            <!-- inser more links here -->
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#0" class="cd-signin">Login</a></li>
        </ul>
    </nav>
</header>

<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li><a href="#0">Sign in</a></li>
            <li><a href="#0">New account</a></li>
        </ul>

        <div id="cd-login"> <!-- log in form -->
            <form class="cd-form" method="POST">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email"
                           placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">Password</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="text"
                           placeholder="Password">
                    <a href="#0" class="hide-password">Hide</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">Remember me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" id="form-login" value="Login">
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-login -->

        <div id="cd-signup"> <!-- sign up form -->
            <form class="cd-form" action="/"  role="form" id="sign-form" method="POST">

                <p class="fieldset">
                    <label class="image-replace cd-email" for="signup-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signup-email" type="email"
                           placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-password">Password</label>
                    <input class="full-width has-padding has-border" id="signup-password" type="text"
                           placeholder="Password">
                    <a href="#0" class="hide-password">Hide</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-fname">First Name</label>
                    <input class="full-width has-padding has-border" id="signup-fname" type="text"
                           placeholder="First name">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-lname">Last Name</label>
                    <input class="full-width has-padding has-border" id="signup-lname" type="text"
                           placeholder="Last name">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <legend>Gender</legend>
                    <input type="radio" class="has-padding" id="signup-gender" value="0" checked> Male<br>
                    <input type="radio" class="has-padding" id="signup-gender1" value="1"> Female<br>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-contact">Contact Number</label>
                    <input class="full-width has-padding has-border" id="signup-contact" type="number"
                           placeholder="Contact Number">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-birthdate">Birthday</label>
                    <input class="date full-width has-padding has-border" id="signup-birthdate" type="text" value=""
                           onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '';}"
                           placeholder="Birthday">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-address">Address</label>
                    <input class="full-width has-padding has-border" id="signup-address" type="text"
                           placeholder="Address">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-postal">Postal Code</label>
                    <input class="full-width has-padding has-border" id="signup-postal" type="number"
                           placeholder="Postal">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="accept-terms">
                    <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" id="form-signup" type="submit" value="Create account">
                </p>
            </form>

            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-signup -->

        <div id="cd-reset-password"> <!-- reset password form -->
            <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to
                create a new password.</p>

            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="reset-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="Reset password">
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
        </div> <!-- cd-reset-password -->
        <a href="#0" class="cd-close-form">Close</a>
    </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->
<!-- script-for-menu -->
<!--start-banner-->
<div class="banner">
    <div class="container">
        <div class="banner-top">
            <h1>For Reservation</h1>
            <div class="banner-bottom">
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Location</p>
                    </div>
                    <div class="bnr-right">
                        <input type="text" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Check In</p>
                    </div>
                    <div class="bnr-right">
                        <input class="date" id="datepicker" type="text" value="" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '';}" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Check Out</p>
                    </div>
                    <div class="bnr-right">
                        <input class="date" id="datepicker1" type="text" value="" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '';}" required=>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Adults</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option class="rm" value="volvo">0</option>
                            <option class="rm" value="saab">1</option>
                            <option class="rm" value="opel">2</option>
                            <option class="rm" value="audi">3</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Room</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option value="volvo">Select a type</option>
                            <option value="saab">Single</option>
                            <option value="opel">Double</option>
                            <option value="audi">Suite</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-btn">
                    <form>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-banner-->
<!---start-date-piker---->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script>
    $(function () {
        $("#datepicker,#datepicker1").datepicker();
    });
</script>

<script>
    $(function () {
        $("#signup-birthdate").datepicker(
                {
                    dateFormat: 'dd-mm-yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1901:2016'
                }
        );
    });
</script>
<!---/End-date-piker---->
<!---start-why-->
<div class="why" id="about">
    <div class="container">
        <div class="why-top heading">
            <h3>WHY?</h3>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="why-bottom">
            <div class="col-md-4 why-left">
                <span class="w-one"></span>
                <p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo.
                    Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
            </div>
            <div class="col-md-4 why-left">
                <span class="w-two"></span>
                <p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo.
                    Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
            </div>
            <div class="col-md-4 why-left">
                <span class="w-tre"></span>
                <p>Phasellus sit <label>amet</label> purus sagittis, <label>fringilla</label> dui vel, tristique justo.
                    Proin sit amet justo elementum, fringilla lacus sit amet, viverra velit.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-why-->
<!--start-how-->
<div class="how">
    <div class="container">
        <div class="how-bottom">
            <div class="col-md-6 how-left">
                <img src="{{ url_for('static', filename='images/h-1.jpg') }}" alt=""/>
            </div>
            <div class="col-md-6 how-right">
                <div class="how-top heading">
                    <h3>HOW</h3>
                </div>
                <p>Phasellus sit amet purus sagittis, fringilla dui vel, tristique justo. Proin sit amet justo
                    elementum, fringilla lacus sit amet, viverra velit. Morbi sit amet elementum lacus. In hac habitasse
                    platea dictumst. Suspendisse lacus.</p>
                <div class="h-btn">
                    <a href="#">More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-how-->
<!--start-secure-->
<div class="secure">
    <div class="container">
        <div class="secure-top">
            <div class="col-md-4 secure-left">
                <h4>Nam sit amet mi et</h4>
                <p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et
                    tristique id, sagittis vel tortor.</p>
            </div>
            <div class="col-md-4 secure-left">
                <h4>Duis ut ultricies nisl</h4>
                <p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et
                    tristique id, sagittis vel tortor.</p>
            </div>
            <div class="col-md-4 secure-left">
                <h4>Nulla quis blandit purus</h4>
                <p>Vivamus eu lectus erat. Integer at nulla vitae dui laoreet tempor. Integer sem leo, malesuada et
                    tristique id, sagittis vel tortor.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-secure-->
<!--start-test-->
<div class="test" id="testimonials">
    <div class="container">
        <div class="test-top">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="test-one">
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-1.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Johnson</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-2.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Lora Smith</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-3.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Eva Adamson</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="test-one">
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-2.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Lora Smith</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-3.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Eva Adamson</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-1.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Johnson</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="test-one">
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-3.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Eva Adamson</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-1.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Johnson</h4>
                                </div>
                                <div class="col-md-4 test-left">
                                    <img src="{{ url_for('static', filename='images/test-2.png') }}" alt=""/>
                                    <p>Sed eu dolor elementum, venenatis augue a, vestibulum velit. Vestibulum
                                        convallis, ante et commodo malesuada.</p>
                                    <h4>Lora Smith</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
<!--end-test-->
<!--FlexSlider-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css" media="screen"/>
<script defer src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
</div>
<!--End-slider-script-->
<!--start-blog-->
<div class="news" id="news">
    <div class="container">
        <div class="news-top heading">
            <h3>LATEST NEWS</h3>
        </div>
        <div class="news-bottom">
            <div class="news-one">
                <div class="col-md-6 news-left">
                    <div class="n-left">
                        <img src="{{ url_for('static', filename='images/blog-1.png') }}" alt=""/>
                    </div>
                    <div class="n-right">
                        <h4>Sed Condimentum Enim Sem</h4>
                        <p class="admin">commodo malesuada.</p>
                        <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit
                            amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 news-left">
                    <div class="n-left">
                        <img src="{{ url_for('static', filename='images/blog-2.png') }}" alt=""/>
                    </div>
                    <div class="n-right">
                        <h4>Sed Condimentum Enim Sem</h4>
                        <p class="admin">commodo malesuada.</p>
                        <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit
                            amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-one">
                <div class="col-md-6 news-left">
                    <div class="n-left">
                        <img src="{{ url_for('static', filename='images/blog-3.png') }}" alt=""/>
                    </div>
                    <div class="n-right">
                        <h4>Sed Condimentum Enim Sem</h4>
                        <p class="admin">commodo malesuada.</p>
                        <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit
                            amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 news-left">
                    <div class="n-left">
                        <img src="{{ url_for('static', filename='images/blog-4.png') }}" alt=""/>
                    </div>
                    <div class="n-right">
                        <h4>Sed Condimentum Enim Sem</h4>
                        <p class="admin">commodo malesuada.</p>
                        <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit
                            amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--end-blog-->
<!--start-events-->
<div class="events" id="events">
    <div class="container">
        <div class="events-top heading">
            <h3>UPCOMING EVENTS</h3>
        </div>
        <div class="events-bottom">
            <div class="col-md-4 events-main">
                <div class="events-left">
                    <img src="{{ url_for('static', filename='images/e-1.jpg') }}" alt=""/>
                    <div class="event-btm">
                        <h4>March 14, 2014</h4>
                    </div>
                    <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus,
                        congue at convallis at, rhoncus ut massa.</p>
                </div>
            </div>
            <div class="col-md-4 events-main">
                <div class="events-left">
                    <img src="{{ url_for('static', filename='images/e-2.jpg') }}" alt=""/>
                    <div class="event-btm">
                        <h4>August 14, 2014</h4>
                    </div>
                    <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus,
                        congue at convallis at, rhoncus ut massa.</p>
                </div>
            </div>
            <div class="col-md-4 events-main">
                <div class="events-left">
                    <img src="{{ url_for('static', filename='images/e-3.jpg') }}" alt=""/>
                    <div class="event-btm">
                        <h4>May 14, 2014</h4>
                    </div>
                    <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus,
                        congue at convallis at, rhoncus ut massa.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-events-->
<!--start-footer-->
<div class="footer">
    <div class="container">
        <div class="touch-top heading">
            <h3>FOLLOW US</h3>
        </div>
        <div class="touch-bottom">
            <p>756 gt globel Place, CD-Road,M 07 435.</p>
            <h6>1 234 567 9871 , 800-2345-679</h6>
            <p>purus tincidunt egestas</p>
            <ul>
                <li><a href="#"><span class="fb"> </span></a></li>
                <li><a href="#"><span class="twit"> </span></a></li>
                <li><a href="#"><span class="google"> </span></a></li>
            </ul>
        </div>
        <div class="footer-top">
            <p class="footer-class">© 2015 Paix All Rights Reserved | Design by <a href="http://w3layouts.com/"
                                                                                   target="_blank">W3layouts</a></p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({easingType: 'easeOutQuart'});

        });
    </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover"
                                                                             style="opacity: 1;"> </span></a>
</div>
<!--end-footer-->


{% endblock %}